.movies-container {
  display: flex;
  padding: 10px;
  justify-content: center;
  flex-wrap: wrap;
}

.movies-load-more-button {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.movies-listing-meta-info {
  display: flex;
  justify-content: right;
  padding-right: 30px;
}
